.container {
    margin: 5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.form-checkbox {
    display: none;
}

.form-checkbox + label span {
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 500;
}

.form-checkbox + label span::before, .form-checkbox + label span::after {
    transition: all .2s ease-in-out;
    content: "";
    position: absolute;
    z-index: 1;
    left: -25px;
    top: 8px;
    background: transparent;
    width: 15px;
    height: 15px;
    border: 2px solid var(--markedBgColor);
}
.form-checkbox + label span::after {
    z-index: 0;
    border: none;
}

.form-checkbox:checked + label span::before {
    background: var(--markedBgColor);
    transform: rotateZ(180deg);
}
.resize-container {
    min-height: fit-content;
    max-height: 60vh;
    overflow: auto;
    border-radius: 1rem;
    margin: 0;
}
