@media only screen and (max-width: 992px) {
    .test-container, .results-container {
        width: 100%;
    }

    .input {
        width: 50vw;
    }

    .form {
        width: 75%;
    }

    .input:focus + .input-border-bottom,
    .input:hover + .input-border-bottom {
        width: 50vw;
    }

    .results-container {
        flex-direction: column;
    }

    .seperated-line {
        border: 2px solid var(--markedBgColor);
        margin: .5rem 0;
    }

    .incorrects-container, .corrects-container {
        width: 100%;
        padding: .5rem;
        max-height: 30vh;
    }
}
@media only screen and (min-width: 992px) {
    .input {
        width: 15vw;
    }

    .form {
        width: 50%;
    }

    .input:focus + .input-border-bottom,
    .input:hover + .input-border-bottom {
        width: 15vw;
    }

    .results-container {
        flex-direction: row;
    }

    .seperated-line {
        border: 2px solid var(--markedBgColor);
        margin: -.5em 0;
    }

    .incorrects-container, .corrects-container {
        width: 50%;
        padding: .5rem;
    }
}

.main-container {
    display: grid;
    justify-items: center;
    margin: .5rem 0;
}

.test-container, .results-container {
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
    min-width: 50%;
    position: relative;
    background-color: var(--containerBgColorWithOpacity);
}

.test-container {
    flex-direction: column;
    align-items: center;
}

.container-title {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    color: var(--primaryFontColor);
    text-align: center;
}

.group-name {
    background-color: var(--markedBgColor);
    border-radius: .5em;
    padding: .1em .5em;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--containerBgColor);
    border-radius: .5em;
    padding: 2em;
}

.input-label {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.input {
    position: relative;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid var(--seperatedLineBgColor);
    background: none;
}

.input:focus {
    outline: none;
}

.input-border-bottom {
    position: absolute;
    display: inline-block;
    background-color: var(--markedBgColor);
    bottom: 32px;
    width: 0;
    height: 3px;
    transition: all .2s ease-in-out;
}

.counter {
    font-weight: 600;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}
.buttons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}