:root {
    --bgFirst: #f20089;
    --bg2: #b5179e;
    --bg3: #00b4d8;
    --bgSecond: #0466c8;
    --thBg: #212529;
    --rowEvenBg: hsl(210, 17%, 98%);
    --rowOddBg: hsl(210, 17%, 93%);
    --linkDeleteColor: #a4161a;
    --tableTheme: rgb(0, 29, 61, .15);
    --linkHoverColor: #212529;
    --incorrectFontColor: #d90429;
    --markedBgColor: hsl(349, 78%, 62%);
    --markedBgColorDarker: hsl(349, 78%, 57%);
    --containerBgColorWithOpacity: hsla(210, 15%, 100%, 0.8);
    --containerBgColor: hsl(210, 17%, 95%);
    --seperatedLineBgColor: #ced4da;
}