.main {
    display: flex;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    background-color: var(--containerBgColorWithOpacity);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 25vh;
}

.cardsSwiper {
    position: relative;
    margin: 0 auto;
    background-color: var(--containerBgColor);
    border-radius: .5rem;
}

.swiper-pagination {
    margin-top: 1em !important;
}
.swiper-pagination-progressbar-fill {
    background: var(--thBg) !important;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--thBg) !important;
}

.scene {
    height: 10em;
    width: 20em;
    perspective: 200em;
    margin: 5em auto;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.cardFlipped {
    transform: rotateX(180deg);
    animation: animate .5s ease-in-out;
}

.cardSide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    border-radius: .5rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border: 3px solid var(--seperatedLineBgColor);
    color: var(--thBg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardSide.polish {
    transform: rotateX(180deg);
}