:root {
    --primaryFontColor: #212529;
    --incorrectFontColor: #d90429;
    --markedBgColor: #ea526f;
    --containerBgColorWithOpacity: hsla(210, 15%, 100%, 0.8);
    --containerBgColor: hsl(210, 17%, 95%);
    --seperatedLineBgColor: #ced4da;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}