.test-result {
    width: 80%;
    height: 80%;
    top: -80%;
    left: 50%;
    background-color: var(--containerBgColor);
    border-radius: 1rem;
    z-index: 20;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    transition: all 1s ease-in-out ;
    visibility: hidden;
}
.result {
    background-color: var(--markedBgColor);
    padding: 0 .5rem .25rem;
    border-radius: .5rem;
}
.test-ended-img {
    margin: 1rem 0;
    width: 200px;
    height: 200px;
}
.buttons-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.button-result, .link-result {
    font-size: 20px;
    cursor: pointer;
    padding: 1rem 2rem;
}
.button-result {
    font-weight: 500;
    border: none;
    background-color: var(--markedBgColor);
    border-radius: .5rem;
    transition: background .1s ease-in-out;
    color: var(--rowEvenBg);
}
.link-result {
    text-decoration: none;
    color: var(--markedBgColor);
    font-weight: 600;

}
.button-result:hover {
    background-color: var(--markedBgColorDarker);
}
.link-result:hover {
    color: var(--markedBgColorDarker);
}
.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.test-ended {
    transform: translate(-50%, 115%);
    visibility: visible;
}